#h1 {color:#2382A1}
#white {color:#FFF;}
a:link{color:#000;}
a:visited{color:#000;}
a:hover{color:#FF00FF;}
a:active{color:#FFFF00;}

body {  
    text-align: center;  
}  
div#wrapper {  
    width: 600px;  
    margin: 0 auto;  
    text-align: center;  
    /*border: 1px solid #FF0000;*/  
}  

h1.white{
  color: #000;
  background-color: #FFF
}
div.green{
  color: #000;
  background-color: #E0F8E6
}

div.pink{
  color: #000;
  background-color: #F8E0F1
}
div.lightblue{
  color: #000;
  background-color: #E0F2F7
}

h1.blue{
  color: #819FF7;
}
h4.left{
  text-align: left;
  background-color: #FFF 
}


/*
p   {
     float:left;
     margin:0px;
     display:block;
     width:60px;
     margin-top:5px;
    }

li  {float:left;display:block;}

.box1 {height:26px;}

.on  {
      background-color:#ff3333;
      width:100px;
      height:26px;
      margin-right:5px;
      text-align:center;
     }

.off {
      background-color:#ffcccc;
      width:100px;
      height:26px;
      margin-right:5px;
      text-align:center;
     }

.on a         {
               text-decoration:none;
               display:block;
               margin-top:5px;
              }
.on a:link    {color:#ffffff;}
.on a:visited {color:#ffffff;}
.on a:hover   {color:#ffffff;}

.off a         {
                text-decoration:underline;
                display:block;
                margin-top:5px;
               }
.off a:link    {color:#000000;}
.off a:visited {color:#000000;}
.off a:hover   {color:#ff0000;}

.box2
    {
     clear:both;
     border-top:solid 10px #ff3300;
     border-bottom:solid 1px #ff3300;
     border-left:solid 1px #ff3300;
     border-right:solid 1px #ff3300;
    }
ul  {margin:0px;}
*/